body {
    margin: 0;
    margin-top: -20px;
}
header {
    background-color: lightblue;
    min-height: 60px;
    border-bottom: 2px solid black;
    & div {
        display: flex;
        align-items: center;
        
    }
}
footer {
    min-height: 80px;
    background-color: lightblue;
    border-top: 2px solid black;
    & div {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.length-alert,
.width-alert {
    color: red;
    font-weight: bold;
}

button {
    background-color: lightblue;
    font-weight: bold;
    color: black;
    padding: 5px;
    border: 1px solid black;
    &:hover {
    cursor: pointer;
    }
}
.buttons-box {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        margin: 5px;
        gap: 10px;
        & .rectangle {
            width: 60px;
            height: 30px;
            background-color: black;
        }
        & .circle {
            width: 40px;
            height: 40px;
            background-color: black;
            border-radius: 23px;
        }
        & .triangle {
            border: 30px solid transparent;
            border-top: 0;
            border-bottom: 40px solid black;
        }
    }
}
.container {
    //border: 2px solid red;
    max-width: calc(100vw - 4rem);
    margin: 0 auto 0;
}